@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --color-background: #FBFCFF;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: var(--color-background);
    color: #333333;
}